In [1]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
print(numbers)

[17, 123]

In [2]:
cheeses[0]

'Cheddar'

In [3]:
numbers

[17, 123]

In [4]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

True

In [5]:
'Brie' in cheeses

False

In [6]:
cheeses

['Cheddar', 'Edam', 'Gouda']

In [7]:
for food in cheeses :
    print(food)

Cheddar
Edam
Gouda

In [9]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [1, 3, 5, 7, 9, 11]

for cheese in cheeses :
    print(cheese)
    
for i in range(len(numbers)) :
    numbers[i] = numbers[i] * 2
    print(numbers[i])
    
print(numbers)

Cheddar
Edam
Gouda
2
6
10
14
18
22
[2, 6, 10, 14, 18, 22]

In [10]:
# The + operator concatenates lists

a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [11]:
# Similarly, the * operator repeats a list a given number of times

['a'] * 4

['a', 'a', 'a', 'a']

In [12]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
# list slice

t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1 : 3]

['b', 'c']

In [14]:
t[ : 4]

['a', 'b', 'c', 'd']

In [15]:
t[3 : ]

['d', 'e', 'f']

In [16]:
num = int(input("List element 개수 입력 : "))
NewList = []
tempList = [0]

for i in range(num) :
    print(i, "번째")
    t = input("추가할 element 입력 : ")
    tempList = [t]
    NewList = NewList + tempList
    
print(NewList)

List element 개수 입력 : 4
0 번째
추가할 element 입력 : 12
1 번째
추가할 element 입력 : 34
2 번째
추가할 element 입력 : 2
3 번째
추가할 element 입력 : 9
['12', '34', '2', '9']

In [17]:
# method append

t1 = ['x', 'y', 'z']
t1.append('a')
t1

['x', 'y', 'z', 'a']

In [18]:
t1.append('e')
t1

['x', 'y', 'z', 'a', 'e']

In [1]:
# method insert

t1 = ['x', 'y', 'z']
t1

['x', 'y', 'z']

In [2]:
t1.insert(1, 'a')
t1

['x', 'a', 'y', 'z']

In [4]:
t1.insert(1, 'e')
t1

['x', 'e', 'a', 'y', 'z']

In [5]:
# method extend

t1 = ['x', 'y', 'z']
t2 = ['d', 'e']
t1.extend(t2)
t1

['x', 'y', 'z', 'd', 'e']

In [6]:
t2.extend(t1)
t2

['d', 'e', 'x', 'y', 'z', 'd', 'e']

In [7]:
# method sort

t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [11]:
# method pop(index)

t = ['a', 'b', 'c', 'd', 'e']
x = t.pop(0) + t.pop(1) # 아마 0번째를 제거해서 bcde가 남았는데 t.pop(1)이 bcde 리스트로 인식해서 c가 없어진 듯
t

['b', 'd', 'e']

In [12]:
t.append('a')
t

['b', 'd', 'e', 'a']

In [13]:
# method remove(value)

t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

In [14]:
# 활용하기1

f1 = ['apple', 'blueberry', 'melon', 'tomato']
f2 = ['strawberry', 'lemon', 'banana']
f3 = f1 + f2
print('f1 + f2 = ', f3)

f3.append('blackberry')
f3.sort()
print("after sorting = ", f3)

f1 + f2 =  ['apple', 'blueberry', 'melon', 'tomato', 'strawberry', 'lemon', 'banana']
after sorting =  ['apple', 'banana', 'blackberry', 'blueberry', 'lemon', 'melon', 'strawberry', 'tomato']

In [18]:
# 활용하기2

f1 = ['apple', 'blueberry', 'melon', 'tomato']
f2 = ['strawberry', 'lemon', 'banana']
f3 = f1 + f2
print(f3)

# remove element with its first char 'b'

index = len(f3)
i = 0

while i < index :
    if f3[i][0] == "b" :
        f3.remove(f3[i])
        i = i - 1
        index = index - 1
    i = i + 1
    
print("remove all 'b' elements = ", f3)

['apple', 'blueberry', 'melon', 'tomato', 'strawberry', 'lemon', 'banana']
remove all 'b' elements =  ['apple', 'melon', 'tomato', 'strawberry', 'lemon']

In [19]:
# 이전 예제 중 일부

while i < index :
    if f3[i][0] == "b" :
        f3.remove(f3[i])
        i = i - 1
        index = index - 1
    i = i + 1

In [20]:
# 2차원 리스트 활용

fq = [[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]]

for i in range(5) :
    for j in range(6) :
        fq[i][j] = i + j
    print(i, "th row : ", fq[i])
    
print("=" * 50)
print("all : ", fq)
print("=" * 50)

0 th row :  [0, 1, 2, 3, 4, 5]
1 th row :  [1, 2, 3, 4, 5, 6]
2 th row :  [2, 3, 4, 5, 6, 7]
3 th row :  [3, 4, 5, 6, 7, 8]
4 th row :  [4, 5, 6, 7, 8, 9]
==================================================
all :  [[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7], [3, 4, 5, 6, 7, 8], [4, 5, 6, 7, 8, 9]]
==================================================

In [22]:
# 연습문제1

s = [["kim", 90, 75], ["park", 89, 95], ["choi", 76, 85]]
print(s)

for i in range(len(s)) :
    print(s[i][0])
    sum = 0
    for j in range(1, len(s[i])) :
        sum = sum + s[i][j]
        
    print("sum = ", sum, "average = ", sum / j, "\n")

[['kim', 90, 75], ['park', 89, 95], ['choi', 76, 85]]
kim
sum =  165 average =  82.5

park
sum =  184 average =  92.0

choi
sum =  161 average =  80.5

In [ ]:
# 연습문제2
# 2단에서 16단까지 구구단을 계산
# 생성한 2차원 리스트 저장
# 이때, 각 단을 한 개의 row에 저장
# 저장한 결과 출력