In [2]:
name = '나경'
age = '22'

print('My name is ', name, ' and ', age, 'years old.')

My name is  나경  and  22 years old.

In [3]:
# get name and age from user, and print them

name = input('Enter your name ; ')
age = input('Enter your age ; ')

print('My name is ', name, ' and ', age, 'years old.')
print('My name is \"', name, '\".')

Enter your name ; 나경
Enter your age ; 22
My name is  나경  and  22 years old.
My name is " 나경 ".

In [4]:
number1 = float(input('첫 번째 실수 입력 : '))
number2 = float(input('두 번째 실수 입력 : '))

print(number1 + number2)

첫 번째 실수 입력 : 3
두 번째 실수 입력 : 5
8.0

In [5]:
number = int(input('정수 입력 : '))

print('*' * number)

정수 입력 : 3
***

In [7]:
var = input('당신이 태어난 년도는?')
age = 2022 - int(var)
age

당신이 태어난 년도는?2001

21