In [1]:
# for()

for letter in "Mango" :
    print(letter)

M
a
n
g
o

In [2]:
# while()

i = 0
fr = "Mango"

while i < len(fr) :
    letter = fr[i]
    print(letter)
    i = i + 1

M
a
n
g
o

In [3]:
# 연습문제1
# 1애서 30 사이의 7의 배수, 그 수의 제곱 값 출력

for i in range(1, 50, 1) :
    if i % 7 == 0 :
        print(i)
        print(i ** 2)

7
49
14
196
21
441
28
784
35
1225
42
1764
49
2401

In [5]:
# if 사용하지 않고 가능

for i in range(7, 50, 7) :
    print(i)
    print(i ** 2)

7
49
14
196
21
441
28
784
35
1225
42
1764
49
2401

In [7]:
for i in range(1, 11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(10, 0, -1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [12]:
for i in range(-10, 11) :
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(10, 0) :
    print(i)

In [3]:
for i in range(-10, 11, 3) :
    print(i)

-10
-7
-4
-1
2
5
8

In [8]:
# 연습문제2(문자열 처리)

name = "HORSTMANN"
count = 0

for char in name :
    print(char)
    count = count + 1
    
print("글자 수 = ", count)

H
O
R
S
T
M
A
N
N
글자 수 =  9

In [6]:
# 연습문제3(리스트 처리)

fruit = ["apple", "banana", "lemon", "tomato"]
count = 0

for fr in fruit :
    print(fr)
    count = count + 1
    
print("아이템 수 = ", count)

apple
banana
lemon
tomato
아이템 수 =  4

In [9]:
# 연습문제4(리스트 처리)

fruit = ["apple", "banana", "lemon", "tomato"]

for fr in fruit :
    count = 0
    for f in fr :
        print(f)
        count = count + 1
        
    print("글자 수 = ", count)

a
p
p
l
e
글자 수 =  5
b
a
n
a
n
a
글자 수 =  6
l
e
m
o
n
글자 수 =  5
t
o
m
a
t
o
글자 수 =  6

In [10]:
# 연습문제5
# 1, 문자 " * "를 첫 줄에는 한 개, 두 번째 줄에는 두 개, 반복하여 열 번째 줄에는 열 개를 출력

i = 0

for i in range(1, 11) :
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [11]:
# 2, 문자 " * "를 첫 줄에 열 개, 두 번째ㅐ 줄에 아홉 개, 이어서 열 번째 줄에 한 개를 출력

i = 0

for i in range(10, 0, -1) :
    print('*' * i)

**********
*********
********
*******
******
*****
****
***
**
*

In [12]:
# 연습문제6
# 자신의 이름(성 포함)을 문자열 변수 name에 저장하고, for문을 이용하여 이름을 한 글자씩 출력
# 글자 수가 모두 몇 글자인지 출력(공백제외)

name = "Peter Rabbit"
count = 0

for char in name :
    print(char)
    if char != ' ' :
        count = count + 1
        
print("총 글자 수는 ", count)

P
e
t
e
r

R
a
b
b
i
t
총 글자 수는  11